body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.item{
  padding: 20px;
}

.img{
  height: 400px;
}


h1, h3, h4, label{
  color: white;
}

.white{
  color: white;
}

.purchase-Btn{
  margin-top: 10px;
}

.checkout-btn{
  width: 100px;
}

.buttonHolder{
  text-align: center;
}
